.error{
  color:red;
}
#state{
  padding-top:3px;
  margin-bottom:0px;
  display: inline-block;
}
#co2{
  position:absolute;
  right:230px;
  display:block;
  width:800px;
  text-align: right;
}
#figures{
  position:absolute;
  right:10px;
  text-align: right;
  p{
    line-height:5px;
  }
}
p {
  display: inline;
}