<div id="state">
  <span *ngIf="loading.length"> loading: </span>
  <span *ngFor="let thing of loading" title="{{thing}}">{{thing}} </span>
  <span *ngFor="let thing of calcing" title="{{thing}}">{{thing}} </span>
  <div id="figures">
  <p *ngIf="!loading.length && !calcing.length"> {{thedate}} </p>
  <p *ngIf="!loading.length && !calcing.length && figures">  {{figures.modified | number:'1.0-0':'fr'}} GWh  </p>
  </div>
  <span id="co2" *ngIf="!loading.length && !calcing.length && figures">  CO2 {{figures.percentCo2 | number:'1.0-1'}} %  </span>
<br/>
  <span class="error" *ngIf="notloaded.length"> error: </span>
  <span class="error" *ngFor="let thing of notloaded" title="{{thing}}">{{thing}} </span>
</div>

