mat-form-field {
  display:inline-block;
  width:60px;
}
.mmt-button {
  width:20px !important;
  margin:0px;
  font-size:30px;
}
.inputline{
  white-space: nowrap;
  display:inline-block;
  margin-right:0px;
}
mat-card {
  div {
    margin-left:-20px;
    margin-right:-20px;
    padding-left:-20px;
  }
}
mat-checkbox {
  display: block;
}

.box {
left:10px;
top: 80px;
z-index:100;
margin-left:20px;
transform:scale(1)
}
.rollover {
  font-size:9px;
}
pp {
  text-align:center;
}
@media (min-width: 600px) {
  .box {
    position:absolute;
    margin-left:0px;
  }
  .inputline {
    display: block;
  }
}
