<div class="box">
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="state.view.navigate" (opened)="panelaction()" (closed)="panelaction()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Navigate
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field style="width:200px" *ngIf="countries">
        <mat-select [(value)]="state.navigate.country" (selectionChange)="selectcountry($event.value)">
          <mat-option [value]="country" *ngFor="let country of countries">{{country}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field style="width:200px">
        <mat-select [(value)]="state.navigate.timetype" (selectionChange)="selecttimetype($event.value)">
          <mat-option [value]="'day'">show day</mat-option>
          <mat-option [value]="'week'">show week</mat-option>
          <mat-option [value]="'month'">show month</mat-option>
          <mat-option [value]="'year'">year (slow)</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <!--
      <mat-form-field style="width:200px">
        <input matInput (change)="setdate($event.value)" placeholder="date" type="date" [(ngModel)]="date" tyle="width:50px;">
      </mat-form-field>
      <br/>
      -->
      <mat-form-field style="width:200px">
        <input matInput [matDatepicker]="dp" placeholder="date" [(ngModel)]="state.navigate.date" (dateChange)="setdate($event.value)">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
      <br />
      <button mat-icon-button aria-label="back" (click)="dectime()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>&#160;
      <button mat-icon-button aria-label="forward" (click)="inctime()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>&#160;
      <button mat-icon-button aria-label="reload from data source" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>&#160;

      <button mat-icon-button aria-label="reload from data source" (click)="today()">
        <mat-icon>today</mat-icon>
      </button>
      <br />
  
    </mat-expansion-panel>
    <mat-expansion-panel [(expanded)]="state.view.mutate" (opened)="panelaction()" (closed)="panelaction()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mutate
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="inputline">
        <mat-form-field class="md-block" title="Add {{state.mutate.Solar}} GWp Photovoltic. This equals to {{state.mutate.Solar*0.4}} photovoltaic panels per Austrian">
          <input matInput (input)="change()" placeholder="Solar" [step]="step(state.mutate.Solar)" type="number" min="0" [(ngModel)]="state.mutate.Solar" >
        </mat-form-field>
      </div>
      <div class="inputline">
        <mat-form-field class="md-block" lex-gt-sm title="Add {{state.mutate['Wind Onshore']}} GW Wind. This equals to {{state.mutate['Wind Onshore']*200}} big Windturbines">
          <input matInput (input)="change()" placeholder="Onshore"  [step]="step(state.mutate['Wind Onshore'])" type="number" min="0" [(ngModel)]="state.mutate['Wind Onshore']">
        </mat-form-field>
      </div>
      <br/>
      <div class="inputline">
        <mat-form-field class="md-block" lex-gt-sm title="Add {{state.mutate['Wind Offshore']}} GW Wind. This equals to {{state.mutate['Wind Offshore']*200}} big Windturbines">
          <input matInput (input)="change()" placeholder="Offshore"  [step]="step(state.mutate['Wind Offshore'])" type="number" min="0" [(ngModel)]="state.mutate['Wind Offshore']">
        </mat-form-field>
      </div>
 
      <div class="inputline">
        <mat-form-field class="md-block" lex-gt-sm>
          <input matInput (input)="change()" placeholder="EV%" type="number" step="5" min="0" max="100" [(ngModel)]="state.mutate['Transport']" >
        </mat-form-field>
      </div>
      <br/>
      <div class="inputline">
        <mat-form-field class="md-block" lex-gt-sm>
          <input matInput (input)="change()" placeholder="P2G"  [step]="step(state.mutate.Power2Gas)" type="number" min="0" [(ngModel)]="state.mutate['Power2Gas']">
        </mat-form-field>

      </div>

      <br/>
      <button mat-button (click)="resetMutate()" (mouseenter)="over()" (mouseleave)="out()">reset</button>
    </mat-expansion-panel>

   <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Layers 
      </mat-panel-title>
    </mat-expansion-panel-header>
   <mat-checkbox *ngFor="let layer of layers" class="example-margin" [(ngModel)]="layer.value" (change)="layeraction()">
   <span [style.backgroundColor]="layer.color" class="legendcolor"></span>  {{layer.key}}
   </mat-checkbox>
   <button mat-button (click)="showall()">show all</button>
   <button mat-button (click)="toggle()">invert selection</button>
   </mat-expansion-panel>

  </mat-accordion>
  <!--
      <mat-form-field class="md-block" lex-gt-sm title="Add {{mutate['Wind Offshore']}} GW Wind. This equals to {{mutate['Wind Offshore']*200}} big Windturbines">
        <input matInput (input) = "change()" placeholder="Offshore" type="number" min="0" [(ngModel)]="mutate['Wind Offshore']" style="width:50px;">
      </mat-form-field>
      <mat-form-field class="md-block" lex-gt-sm title="Replace Diesel and Benzin by electricity">
        <input matInput (input) = "change()" placeholder="EV%" type="number" min="0" max="100" step="5" [(ngModel)]="mutate.Transport" >
      </mat-form-field>
      <mat-form-field class="md-block" lex-gt-sm title="Electrolysis max Power {{mutate.Power2Gas}} GW">
        <input matInput (input) = "change()" type="number" placeholder="P2G" min="0" [(ngModel)]="mutate.Power2Gas" style="width:50px;" >
      </mat-form-field>
        <button type="button" (mouseover)="over()" (mouseout)="out()" (click)="reset()" style="width:50px;background-color:white;border:1px solid black"  value="click" ng-mouseover="setOriginal()" ng-mouseout="setModified()">
          Reset
          <span class="rollover">rollover</span>
        </button>
    -->
</div>