.area {
  //border:1px solid black;
  margin: 0px;
  position: absolute;
  top: 20px;
  bottom: 00px;
  left: 300px;
  right: 00px;

  .energydiv {
    margin-left: 40px;
  }

  td.mat-cell {
    padding-right: 15px !important;
  }

  .meta {
    position: absolute;
    top: 40;
    left: 55px;

    h1 {
      font-size: 40px;
      margin-bottom: 0px;
    }

    p {
      margin: 0;
    }
  }

  td:not(:first-child).mat-cell {
    text-align: right;
  }
}