.area {
  //border:1px solid black;
  margin: .100px;
  top: 0px;
  bottom: 30px;
  left: 00px;
  right: 00px;
  height:100%;

  .energydiv {
    margin-left: 40px;
  }

  td.mat-cell {
    padding-right: 15px !important;
  }
  td:not(:first-child).mat-cell {
    text-align: right;
  }
  h3{
    position: absolute;
  }
}
.all{
  height:100%;
}
